*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes colorchange{
    from {background-color: skyblue;}
    to {background-color: black;}
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    padding: 20px 35px;
    background-color: skyblue;
    animation-name: colorchange;
    animation-duration: 5s;
}
header h1{
    font-weight: bold;
    display:inline;
    font-size:30px;
    margin: 7px 10px;
}
header h1 u a{
    color:cyan;
}
header a{
    text-decoration: none;
}
header nav{
    float: right;
    margin: 8px 0;
}
header nav ul li{
    display: inline-flex;
    justify-content: space-evenly;
    padding: 0 10px;

}
header nav ul li a{
    color:cyan;
    font-size: 20px;
}
.subtitle{
    width: 100%;
    background-image: conic-gradient(skyblue, black);
}
.subtitle div h2{
    color: white;
    font-size: 20px;
    float: right;
}
section{
    padding: 70px;
}
.contact{
    background-image: conic-gradient(skyblue, black);
}
.contact div u{
    color: white;
    padding: 5px 0;
}
.contact div u h1{
    text-align: center;
    color: white;
}
footer{
    display:flex;
    justify-content: space-evenly;
    padding: 15px 0;
}
.wow{
    font-size: 22px;
    color:white;
}
.about-me{
    background-color: skyblue;
    width: 100%;
    
    
}

.about-me div h1{
    float: left;
    flex-wrap: wrap;
    padding-right: 200px;
}
.about{
    float: right;
    flex-wrap: wrap;
    font-size: 17px;
}
.about-me img{
    display:flex;
    margin: auto;
}
/* staged media query for future use */
@media screen and (max-width: 768px){
    
}